*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #bbb;
}
.main{
  background-attachment:fixed;
    width: 100%;
    background-color: #bbb;
    background-position: center;
    background-size: cover;
    height: fit-content; 
    margin-top: 29px;
    margin-bottom: 21px;
}
.navbar{
  width: 98vw;
  height: 75px;
  margin: 0;
  display: flex;
  z-index: 20;
  position: sticky;
}
.menu{
  border: 1px solid;
  position: fixed;
  width: 100%;
  display: flex;
  align-content: space-around;
  background-color: white;
}
.logo{
    color: red;
    font-size: 41px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 4%;
}
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    
}
li{
        border-right: 1px solid #bbb;
        float: left;
}
li a {
  width: fit-content;
       display: block;
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
}
li a:hover:not(.active) {
    background-color: gray;
  }
  .active {
    background-color: #C51919;
}
a{
    font-size: 30px;
      width: 105px; 
      height: 47px ;
       display: block;
       padding: 0;
}
   #esquec{
font-size: medium;
display: contents;
}  
footer{
  background: #110c0b;
  height: auto;
  width: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 40px;
  color: white;
}
.footer-content{
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  background-color: #110c0b;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  color: black;
}
.socials a{
  width:6.6rem;
  color: white;
  text-decoration: none;
}
.socials a i{
  font-size: 1.1rem;
}
.socials a:hover i{
 color:aqua
}
.footer-bottom{
  width: auto;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
#form{
  height: fit-content;
}
.cadastro{
  height: auto;
    background-color: white;
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}
#entrar{
    background-color: #C51919;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#entrar:hover {
    opacity: 0.8;
  }
  .cadastro_input{
    border-radius: 15px;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
.c_tel{
  border-radius: 15px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.c_non_text{
  margin: 1rem;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  background-color: aliceblue;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
}
.child_non_text{
  margin: 10px; 
}
  .login_text{
    font-family: Arial, Helvetica, sans-serif;
  }
  .c_border{ 
    border: solid;
    border-width: 10px;
    border-color: aliceblue;
    margin: 8px 0;
    border-radius: 15px;
    padding: 5px;
    background-color: aliceblue
  }
  .c_text{
    text-align: center;
    margin: 8px 0;
    background-color: aliceblue;
    border-radius: 15px;
    border: 10px;
    padding: 5px;
  }
  @media screen and (max-width: 778px) {
    .navbar{
      flex-direction: column;
    }
      .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .navbar-ul{
      justify-content: center;
      align-items: center;
      width: 100%;
    }
      .icon{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .logo{
        text-align: center;
      }
      .main{
        margin-top: 75px;
      }
  }
